.userWrapper {
    border: 1px solid black;
    display: grid;
    border-radius: 15px;
}

table {
    width: 100vw;
    max-width: 1200px;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding: 5px;
    border: solid black 1px;
    min-width: 50px;
    border-radius: 15px;
}

.tableHead td {
    resize: horizontal;
    overflow: hidden;
}
