.usersListWrapper {
    width: 100%;
    display: grid;
}

.userListSearch {
    background-color: #e98074;
    color: white;
    border: solid black 1px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    justify-items: stretch;
}

.usersListTabler {
    background-color: #eae7dc;
    margin-bottom: 10px;
}
