.toDoFormWrapper {
    display: grid;
    border: solid black 1px;
    border-radius: 10px;
    background-color: #e98074;
    padding: 10px;
    margin-bottom: 10px;
}

.toDoForm {
    display: grid;
    padding: 10px;
    gap: 10px;
}
.titleArea {
    border-radius: 10px;
    height: 20px;
    width: 200px;
}

.descriptionArea {
    border-radius: 10px;
    min-width: 100%;
    height: 80px;
}

.dateInput {
    border-radius: 10px;
    height: 20px;
    width: 200px;
}

.toDoForm button {
    border-radius: 10px;
    height: 20px;
    width: 200px;
    gap: 10px;
}
