body {
    margin: 0;
    width: 100%;
    background-color: #eae7dc;
}

.AppWrapper {
    display: grid;
    justify-items: center;
    grid-template-areas:
        "nav"
        "cont";
}

.navBar {
    display: grid;
    grid-area: nav;
    background-color: #d8c3a5;
    border: solid black 1px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
    width: 1400px;
}

.navBarList {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    list-style-type: none;
    gap: 20px;
}

.navBarItem a {
    font-size: 20px;
    padding: 3px 10px;
    text-decoration: none;
    color: black;
    border: solid black 1px;
    border-radius: 10px;
    background-color: #e98074;
}

.navBarItem a:active,
.navBarItem a:focus {
    color: black;
}

.AppContentWrapper {
    grid-area: cont;
    background-color: #d8c3a5;
    border: solid black 1px;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 10px;
}
